
  main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 40px;
    font-family: 'Inter', sans-serif;
    margin-left: 40px;
  }
  .p-about-1{
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  