/* src/Login.css */

.ForgotPassword-pelanggan {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f5f5f5;
    font-family: 'Inter', sans-serif;
  }
  
  .ForgotPassword-box {
    background-color: #789763;
    padding: 20px 40px; /* Add padding to the left and right */
    border-radius: 8px;
    width: 517px;
    text-align: center;
    font-weight: 600;
    font-style: italic;
  }
  
  .ForgotPassword-box h3 {
    margin-bottom: 20px;
    color: #fff;
    text-align: left;
  }
  
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
  }
  
  .input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  .forgotpassword {
    width: 300px;
    height: 40px;
    padding: 10px;
    background-color: #E0FBE2;
    border: none;
    border-radius: 4px;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
  }
  button .forgotpassword {
    display: flex;
    justify-content: left; /* Aligns button to the right */
  }
  button:hover {
    background-color: #8fae8d;
  }
  
  .forgot-masuk {
    margin-top: 10px;
    color: #fff;
    text-align: left;
  }
  
  .forgot-masuk a {
    color: #E20000;
    text-decoration: none;
  }
  
  .forgot-masuk a:hover {
    text-decoration: underline;
  }
  .bintang{
    color: #E20000;
  }
  