/* src/Login.css */

.Register-pelanggan {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: 'Inter', sans-serif;
  }
  
  .Register-box {
    background-color: #789763;
    padding: 20px 40px; 
    border-radius: 8px;
    width: 517px;
    text-align: center;
    font-weight: 600;
    font-style: italic;
  }
  
  .Register-box h2 {
    margin-bottom: 20px;
    color: #fff;
  }
  
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
  }
  
  .input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  .DataPribadi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: #fff;
    font-size: 8px;
    text-align: left;
  }
  
  
  
  .register {
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: #E0FBE2;
    border: none;
    border-radius: 4px;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #8fae8d;
  }
  
  .register-link {
    margin-top: 10px;
  }
  
  .register-link a {
    color: #fff;
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  .bintang{
    color: #E20000;
  }
  