.header-pelanggan {
    background-color: #E0FBE2;
   
    width: 100%;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding-top: 20px;
   
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 100px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    width: 400px;
    
  }
  
  .search-bar {
    width: 560px; 
    padding: 8px;
    border: none;
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  .search-button {
    padding: 8px 16px;
    background-color: #799351;
    color: white;
    border: none; 
    border-left: none; 
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
  }
  
  .user-section {
    display: flex;
    
  }
  .plus{
    background-color: none;
  }
  
  .cart-icon {
    margin-left: 10px;
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    margin-top: 10px; 
    padding-bottom: 20px;
  }
  
  .nav-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;

    
  }
  
  
  .user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    
  }
  
  .cart-icons {
    display: flex;
    justify-content: center;

    
   
    margin-bottom: 5px; 
  }
  
  .cart-icon {
    margin: 0 5px; 
    font-size: 24px;
    margin-left: 30px;
    
  }
  